.container {
    padding-top: 2rem;
}

mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
}

mat-card-subtitle {
    font-size: 18px;
}

mat-card-title {
    margin-top: 1rem;
}

.mat-card-header .mat-card-title {
    margin-bottom: 30px;
    font-size: 28px;
}

mat-card-subtitle[_ngcontent-sph-c153] {
    font-size: 20px;
}

.logo{
    margin-left: 65%;
    padding-top: 3rem;
  
}