<div class="container">
    <form class="form class= mat-elevation-z8 ">
        <h1>Cadastro de Paciente</h1>
        <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" [(ngModel)]="paciente.nome" [formControl]="nome" required name="nome" maxlength="60" matInput placeholder="Ex. Alan Aquino">
            <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>CNS</mat-label>
            <input type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" [(ngModel)]="paciente.cns" [formControl]="cns" required name="cns" maxlength="60" matInput placeholder="0000000">
            <mat-error *ngIf="cns.invalid">{{ errorValidCns() }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>CPF</mat-label>
            <input type="text" mask="000.000.000-00" [dropSpecialCharacters]=" false " [(ngModel)]="paciente.cpf" name="cpf" [formControl]="cpf" required maxlength="14" matInput placeholder="Ex. 000.000.000-00 (apenas os números)">
            <mat-error *ngIf="cpf.invalid">{{ errorValidCpf() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Data de Nascimento</mat-label>
            <input type="text" mask="d0/M0/0000" [dropSpecialCharacters]=" false " [(ngModel)]="paciente.dataNascimento" name="dataNascimento" [formControl]="dataNascimento" required maxlength="10" matInput placeholder="Ex. 00/00/0000 (apenas os números)">
            <mat-error *ngIf="dataNascimento.invalid">{{ errorValidDataNascimento() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Celular/Telefone</mat-label>
            <input type="text" mask="(00) 0000-0000||(00) 0 0000-0000" [dropSpecialCharacters]=" false " [(ngModel)]="paciente.telefone" name="telefone" [formControl]="telefone" required maxlength="16" matInput placeholder="Ex. (00) 90000-0000 (apenas os números)">
            <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
        </mat-form-field>

        <button type="button" (click)="create()" [disabled]="errorValidNome() || errorValidCpf() || errorValidDataNascimento() || errorValidTelefone()" mat-stroked-button color="basic">CRIAR</button>
        <button type="button" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    </form>
</div>