<mat-toolbar class="header mat-elevation-z8">
    <div class="logo">
        <img src="/assets/img/logo.png" alt="">
    </div>
    <div class="menu">
        <div class="navigation">
            <ul>
                <li>
                    <a routerLink="/">
                        <span class="icon"><mat-icon>home</mat-icon></span>
                        <span class="list">Home</span>
                    </a>
                    <a routerLink="/pacientes">
                        <span class="icon"><mat-icon>person</mat-icon></span>
                        <span class="list">Paciente</span>
                    </a>
                    <a routerLink="/medicos">
                        <span class="icon"><mat-icon> medication</mat-icon></span>
                        <span class="list">Médico</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>