.footer {
    height: 7%;
    position: fixed;
    bottom: 0;
    background-color: #77d5cb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #000000;
    font-size: 0.9rem;
    margin: 0;
}